<nav class="navbar navbar-light ">
    <div class="container-fluid">
      <a class="navbar-brand"><img src="https://cdn-icons-png.flaticon.com/512/641/641813.png" alt="" width="50px"></a>
      <h1>E-STORE</h1>
      <form class="d-flex ">
        <!-- <button class="btn btn-success " type="submit"><i class="fa-sharp fa-solid fa-magnifying-glass"></i> </button> &nbsp;&nbsp; -->
        <button class="btn "><i class="fa-sharp fa-regular fa-heart"></i></button>
        <button class="btn"><i class="fa-sharp fa-solid fa-share-nodes"></i></button>
        <button class="btn"><i class="fa-sharp fa-solid fa-cart-shopping"></i></button>
        
      </form>
      
    </div>
  </nav>